.busqueda{
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 45px;

    h1{
        width: 286px;
        height: 99px;
        font-family: var(--family-principal);
        color: var(--color-secundario);
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;

        .gifos{
            color: #00fff2 ;
        }
    }

    .ilustracion{
        width: 270px;
        height: 130px;
        margin-top: 31px;
    }
    .search{
        width:89%;
        max-width: 500px;
        height: 50px;
        border: 2px solid var(--color-secundario);
        border-radius: 27px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #search-placeholder{
            text-align: center;
            background: var(--bg);
            color: #6B7989;
            font-family: var(--family-segunda);
            font-size: 16px;
            border-style:none;
            margin-left: 7%;
            width: 85%;
        }
        button{
            background: var(--bg);
            border-style: none;
            width: 5%;
            height: 20px;
            margin-top: 11px;
            margin-right: 7.4%;

            .fas{
                color: var(--color-secundario);
                width: 20px;
            }
        }

        

    }

    h3 {
        font-family: var(--family-principal);
        font-size: 16px;
        color: var(--color-secundario);
        text-align: center;
        line-height: 25px; 
        font-weight: 700;   
        margin-top: 31px;    
    }
    p{
        font-family: var(--family-principal);
        font-size: 14px;
        font-weight: 400;
        color: var(--color-secundario);
        text-align: center;
        line-height: 25px;        
        width: 208px;
    }

}