footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid var(--color-border);
    width: 100%;
    background: var(--bg);
    

    p {
        margin-top: 47px;
        font-family: var(--family-segunda);
        font-size: 15px;
        color: var(--color-roboto) ;
        letter-spacing: 0;
    }

    .ul-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .li-footer{
            margin: 24px 10px 46px 10px;

            a i {
                color: var(--color-secundario) ;
                width: 18px;
                height: 16px;
            }

        }
    }
    .last {
        margin-bottom: 28px;
    }
}