@media only screen and (min-device-width: 600px){

    header {
        height: 89px;
    }
    .ul-menu {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        height: 50px;
        position:relative;
        top: -41px;
        right:-22px;
        width: 100%;
        background: var(--bg);
    }
    .crear {
        display: block;
    }

    .menu {
        margin: 27px 50px;
    }

    nav {
        width: 100%;
    }

.logo {
    width: 50px;
    height: 50px;
    margin:0px 10px;
}

.li-menu {
    margin: 6px 14px;

}
li.crear-index {
    margin-top: 8px;
    width: 35px;
    height:35px;
    border-radius: 50%;
    border: 1px solid var(--color-secundario);
    background: var(--bg);
    cursor: pointer;
    i.create-ajust{
        display:block;
        position: relative;
        top: -5px;
        font-size: 12px;
        }

}
header nav .menu .ul-menu i.create-ajust {
    display: block;
}

header nav .menu ul li a {
    text-transform: uppercase;
    font-family: var(--family-principal);
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-secundario);
    padding: 16px 0px;
    font-weight: 800;
}
header nav .menu span {
    display: none;
}

.crear .crearimg {
    width: 42px;
    padding-top: 9px;
}
main .busqueda h1 {
    width: 417px;
    font-size: 26px;
    text-align: center;
    line-height: 38px;
}
.busqueda .ilustracion{
    margin-top: 0px;

}
.busqueda .reactions.hidden{
    display: none;

}
.busqueda .reactions hr.hr-data{
    width: 360px;
}

.busqueda h3 {
    font-size:  12px;
    line-height: 16px;
}
.busqueda p {
    font-size:12px;
}

.busqueda .wrapper {
    margin-top: -5px;

}
.busqueda p {
    width: 320px;
}
.trending p br {
    display: none;
}
.trending h2 {
    font-size: 17px;
    font-weight: 600;
}
.trending p {
    font-size: 12px;
}
.trending{
    .carousel {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .carousel_img {
            display:flex;
            justify-content: space-between; 
            overflow-x: visible;

        img {
            width: 32%;
            height: 200px;
            padding: 0px;
            margin: 0px;
        }
    }
    button#carousel__button--prev{
        display: block;
        margin: 92px 10px 0px 30px;
        width: 30px;
        height: 27px;
        border: 1px solid var(--color-secundario);
        color: var(--color-secundario);

        &:hover{
            background-color: var(--color-secundario);
            color: var(--bg);
        }
    }
    button#carousel__button--next{
        display:block;
        margin: 92px 30px 0px 10px;
        width: 30px;
        height: 27px;
        border: 1px solid var(--color-secundario);
        color: var(--color-secundario);

        &:hover{
            background-color: var(--color-secundario);
            color: var(--bg);
        }
    }    
    }
}
footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        margin-left:6%;
        p {
            font-size: 10px;
        }

    }    
    .last {
        font-size: 10px;
        padding-right: 6%;
        
    }
    .ul-footer {
        margin-right: 60px;

        .li-footer {
            margin: 24px 2px 25px 5px;
            
            a i{
                font-size: 10px;
                color: #CDD6E0 ;
                &:hover{
                    color: var(--color-secundario);
            }
        }
            &:first-child{
                margin-right: -5px;
            }
        }
    }
}
}


@media only screen and (min-device-width: 900px){

    .busqueda .imagenes-normal {
        width: 94%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    img {
        padding: 5px;
    }

}

@media only screen and (max-device-width: 350px){
    .busqueda .ilustracion {
        width: 200px;
        height: 96px;

    }

}