
@media only screen and (min-device-width: 900px){
    header {
        height: 89px;
    }
    .ul-menu {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        height: 50px;
        position:relative;
        top: -41px;
        right:-22px;
        width: 100%;
        background: var(--bg);
    }
    .crear {
        display: block;
    }

    .menu {
        margin: 27px 50px;
    }

    nav {
        width: 100%;
    }

.logo {
    width: 59px;
    height: 59px;
    margin:0px 10px;
}

.li-menu {
    margin: 6px 14px;

}
li.crear-index {
    margin-top: 8px;
    width: 35px;
    height:35px;
    border-radius: 50%;
    border: 1px solid var(--color-secundario);
    background: var(--bg);
    cursor: pointer;
    i.create-ajust{
        display:block;
        position: relative;
        top: -5px;
        font-size: 12px;
        }

}
header nav .menu .ul-menu i.create-ajust {
    display: block;
}

header nav .menu ul li a {
    text-transform: uppercase;
    font-family: var(--family-principal);
    font-size: 13px;
    line-height: 10px;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-secundario);
    padding: 16px 0px;
    font-weight: 800;
}
header nav .menu ul li.selection a{
    color: #9CAFC3 ;

}
header nav .menu span {
    display: none;
}

.crear .crearimg {
    width: 42px;
    padding-top: 9px;
}
main .busqueda h1 {
    width: 530px;
    font-size: 35px;
    text-align: center;
    line-height: 38px;
    margin-top:50px;
}
.busqueda .ilustracion{
    margin-top: 0px;

}
.busqueda .reactions.hidden{
    display: none;

}
.busqueda .reactions hr.hr-data{
    width: 360px;
}
.busqueda .reactions p.p-data{
    font-size: 35px;
}

.busqueda h3 {
    font-size:  18px;
    line-height: 16px;
}
.busqueda p {
    font-size:16px;
    width: 360px;
}

.busqueda .wrapper {
    margin-top: -5px;

}

.busqueda .imagenes-normal {
        
        width: 94%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        >div {
                width: 100%;
                padding:4px;
            }
            .gif-cerrar {
                display: none;
            }
            .gif-tarjeta {
                height: 200px;
            
                .contenedor-imagen {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
            
                    .gif-img {
                        width: 100%;
                        height: 100%;
                        transition: 0.15s;
                        padding: 0px;
                    }
                }
            
                .gif-botones {
                    display: none;
                }
                
                .gif-informacion {
                    display: none;
                }
            }
            
            .gif-tarjeta:hover {
            
                .contenedor-imagen {
                    bottom: 28px;
                    background-color: #572EE5;
            
                    .gif-img {
                        opacity: 0.6;
                        transition: 0.15s;
                    }
                }
            
                .gif-botones {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    left: 40%;
                    top: 13px;
                    z-index: 1;
            
                    div {
                        height: 32px;
                        width: 32px;
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        margin: -2px 4px;
                    }
            
                    .icono-eliminar {
                        background-image: url(https://thekaise13.github.io/GIFOS/images/icon-trash-normal.svg);
                    }
                    .icono-eliminar:hover {
                        background-image: url(https://thekaise13.github.io/GIFOS/images/icon-trash-hover.svg);
                    }
                    .icono-favorito {
                        background-image: url(https://thekaise13.github.io/GIFOS/images/icon-fav.svg);
                    }
                    .icono-favorito:active {
                        background-image: url(https://thekaise13.github.io/GIFOS/images/icon-fav-active.svg);
                    }
                    .icono-favorito:hover {
                        background-image: url(https://thekaise13.github.io/GIFOS/images/icon-fav-hover.svg);
                    }
                    .icono-descargar {
                        background-image: url(https://thekaise13.github.io/GIFOS/images/icon-download.svg);
                    }
                    .icono-descargar:hover {
                        background-image: url(https://thekaise13.github.io/GIFOS/images/icon-download-hover.svg);
                    }
                    .icono-maximizar {
                        background-image: url(https://thekaise13.github.io/GIFOS/images/icon-max-normal.svg);
                    }
                    .icono-maximizar:hover {
                        background-image: url(https://thekaise13.github.io/GIFOS/images/icon-max-hover.svg);
                    }
            
                    .gif-favorito.icono-favorito {
                        background-image: url(https://thekaise13.github.io/GIFOS/images/icon-fav-active.svg);
                        background-color: #ffffff;
                        border-radius: 6px;
                        background-size: 18px 18px;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                }
            
                .gif-informacion {
                    display: block;
                    position: relative;
                    text-align: left;
                    padding-left: 15px;
                    padding-right: 15px;
                    bottom: 111px;
                    z-index: 1;
            
                    p.gif-user, h5.gif-titulo {
                        color: #ffffff;
                        font-size: 15px;
                        display: block;
                        margin-bottom: -3px;
                        width: auto;
                        text-align: start;
                        font-family: var(--family-segunda);
                    }
                    h5.gif-titulo {
                        color: #ffffff;
                        display: block;
                    }
                }
            }

            .maximizado{
                position: fixed;
                width: 100%;
                height: 100vh;
                top: 0px;
                left: 0px;
                background-color: var(--bg);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 10;
            
                .gif-cerrar {
                    position: absolute;
                    display: block;
                    top: 6vh;
                    right: 14vw;
            
                    .icono-cerrar {
                        height: 15px;
                        width: 15px;
                        opacity: 0.7;
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-right: 8px;
                        cursor: pointer;
                        background-image: url(https://thekaise13.github.io/GIFOS/images/close.svg);
                    }
                    .icono-cerrar:hover {
                        opacity: 1;
                    }
                }
            
                .gif-tarjeta {
                    width: 50%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
            
                    .contenedor-imagen {
                        position: unset;
                        background-color: unset;
                        order: 1;
                
                        .gif-img {
                            width: 100%;
                            height: 100%;
                            transition: 0.15s;
                            object-fit: fill;
                            margin-top: -11px;
                        }
                    }
            
                    .gif-botones {
                        display: flex;
                        flex-direction: row;
                        position: absolute;
                        z-index: 1;
                        order: 3;
                        align-self: flex-end;
                        top: 79vh;
                        left: 69%;
                
                        div {
                            height: 32px;
                            width: 32px;
                            background-position: center center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-right: 12px;
                            border-radius: 6px;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            cursor: pointer;
                            
                        }

                        .icono-favorito {
                            background-image: url(https://thekaise13.github.io/GIFOS/images/icon-fav.svg);
                        }
                
                        .icono-eliminar {
                            background-image: url(https://thekaise13.github.io/GIFOS/images/icon-trash-normal.svg);
                        }
                        .icono-eliminar:hover {
                            background-image: url(https://thekaise13.github.io/GIFOS/images/icon-trash-hover.svg);
                        }
                        .icono-descargar {
                            background-image: url(https://thekaise13.github.io/GIFOS/images/icon-download.svg);
                            margin-right: 0;
                        }
                        .icono-descargar:hover {
                            background-image: url(https://thekaise13.github.io/GIFOS/images/icon-download-hover.svg);
                        }
                        .icono-maximizar {
                            display: none;
                        }
                
                        .gif-favorito.icono-favorito {
                            background-image: url(https://thekaise13.github.io/GIFOS/images/icon-fav-active.svg);
                            background-color:  #ffffff;
                            border-radius: 6px;
                            background-size: 18px 18px;
                            background-position: center center;
                            background-repeat: no-repeat;
                        }
                    }
            
                    .gif-informacion {
                        display: inline-block;
                        position: unset;
                        margin-top: 0;
                        width: 80%;
                        padding-left: 0;
                        padding-right: 15px;
                        order: 2;
                
                        p.gif-user, h5.gif-titulo {
                            color:  var(--color-roboto);
                            font-size: 15px;
                            display: block;
                            margin-bottom: 8px;
                            text-align: initial;
                            font-family: var(--family-segunda);
                        }
                        h5.gif-titulo {
                            color:  var(--color-roboto);
                            display: block;
                        }
                    }
                }
                .gif-tarjeta:hover {
                
                    .gif-img {
                        opacity: unset;
                        transition: unset;
                    }
                
                    .gif-botones {
                        left: 69%;
                        div {
                            margin: 0px 12px 0px 0px;
                        }
                    }
                }
            }
    }

    .busqueda .imagenes-error {
        p.p-user-error {
            margin-top: 75px;
            font-family: var(----family-principal);
            font-size: 30px;
            line-height: 30px;
        }
        p.sin-resultados-p {
            font-family: var(--family-principal);
            font-size: 22px;
            color: #50E3C2;
            line-height: 25px;
        }
    }

    .trending p br {
        display: none;
    }
    .trending h2 {
        font-size: 30px;
        font-weight: 600;
    }
    .trending p {
        font-size: 18px;
    }
    .trending{
        .carousel {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .carousel_img {
                display:flex;
                justify-content: space-between; 
                overflow-x: visible;
    
            img {
                width: 32%;
                height: 260px;
                padding: 0px;
                margin: 0px;
            }
        }
        button#carousel__button--prev{
            display: block;
            margin: 140px 10px 0px 30px;
            width: 30px;
            height: 27px;
            border: 1px solid var(--color-secundario);
            color: var(--color-secundario);
    
            &:hover{
                background-color: var(--color-secundario);
                color: var(--bg);
            }
        }
        button#carousel__button--next{
            display:block;
            margin: 140px 30px 0px 10px;
            width: 30px;
            height: 27px;
            border: 1px solid var(--color-secundario);
            color: var(--color-secundario);
    
            &:hover{
                background-color: var(--color-secundario);
                color: var(--bg);
            }
        }    
        }
    }
    footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 84px;
        
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;
            margin-left:6%;
            p {
                font-size: 13px;
            }
    
        }    
        .last {
            font-size: 13px;
            padding-right: 6%;
            
        }
        .ul-footer {
            margin-right: 60px;
    
            .li-footer {
                margin: 24px 2px 25px 5px;
                
                a i{
                    font-size: 10px;
                    color: #CDD6E0 ;
                    &:hover{
                        color: var(--color-secundario);
                }
            }
                &:first-child{
                    margin-right: -5px;
                }
            }
        }
    }



}

@media only screen and (min-device-width: 1200px){
.busqueda .imagenes-normal .gif-tarjeta:hover .gif-botones {
    left: 56%;
}
.trending .carousel_img .gif-tarjeta:hover .gif-botones {
    left: 63%;
}



}
@media only screen and (max-device-width: 350px){
    .busqueda .ilustracion {
        width: 200px;
        height: 96px;

    }

}